<section [ngClass]="{'loading': !taskList.length}">

  <ul *ngIf="taskList.length">
    <li *ngFor="let item of taskList; let i = index">
      <input type="checkbox" name="marcado" [(ngModel)]="item.checked">
      <input type="text" [value]="item.task">

      <button (click)="deleteItemTaskList(i)">
          <img src="assets/icons/icon-trash.svg" alt="lixeira">
      </button>
    </li>
  </ul>

</section>

<app-todo-input-add-itens></app-todo-input-add-itens>
<app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAllTaskList()"></app-todo-button-delete-all>
